@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.container {
    max-width: 960px;
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #c4ffdd;
}

#title2 {
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    color: #a6ddbd;
}

.fas {
    color:  #113a5d;
    background-color: #e5e5e5;
    width: 20px;
}

#customNavbar {
    background-color: #113a5d;
}

.intro-header {
    max-width: 800px;
}

.display-4, .card-display {
    color: #113a5d;
}

.form-group {
    margin: 5% 5%;
}

.file {
    margin: 5% 5%;
    max-width: 590px;
}

.card {
    min-width: 200px;
    max-width: 700px;
    height: 540px;
    position: relative;
    align-content: center;
    margin: 0 auto;
}

.border-top { 
    border-top: 1px solid #e5e5e5; 
}

.border-bottom { 
    border-bottom: 1px solid #e5e5e5; 
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.features {
    font-size: 20px;
    font-weight: 125;
}

.btn-block {
    width: 200px;
}

.signup {
    border-color: #113a5d !important;
    background-color: #113a5d;
    color: #fff;
    max-width: 350px;
    margin: 0 auto;
}

.signup:hover {
    background-color: #a6ddbd;
    border-color: #a6ddbd !important;
    color: #fff;
}

#inputState {
    width: 180px;
}

select:required:invalid {
    color: #636c72;
    box-shadow: 0 0 1.5px 1px red;
}

#city {
    width: 350px;
    margin-left: 0;
}

.col-7 {
    padding-left: 0;
    margin-right: -26px;
}

#city-icon {
    margin-left: 37px;
}

.nav-icons{
    background-color: #113a5d;
    color: #fff;
}

.icon-bar {
    width: 250px;
    height: 50px;
    background-color: #113a5d;
    margin-right: 15px;
    overflow: auto;
}
  
.icon-bar a {
    float: right;
    width: 75px;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 24px;
}
  
.icon-bar a:hover {
    background-color:#a6ddbd;
}
  
.active {
    background-color: #a6ddbd;
}

.logout {
    margin: 0px 5px;
    background-color: #113a5d;
    color: #fff;
}

.logout:hover {
    background-color:#a6ddbd;
}