<div id="customNavbar"
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
  <h5 id="title" class="my-0 mr-md-auto font-weight-normal">Fair Breeze</h5>
  <div class="icon-bar">
    <a class="active"><i class="far fa-calendar-alt"></i></a>
    <a (click)="toCompanyHome()"><i class="fa fa-home"></i></a>
  </div>
  <button type="button" (click)="logout()" class="btn btn-light logout">Log Out</button>
</div>

<div class="container">
  <!-- display favs -->
  <h1 class="display-4 border-bottom">My Company Events <i class="far fa-calendar-alt"></i></h1>

  <div class="container mt-4">
      <div class="card mb-4 box-shadow" *ngFor="let event of allEvents; let i = index">
  
          <div class="card-body px-2 pt-2 pb-1">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-5 px-0">
                          <h1 class="job-titles">{{ event.eventTitle }}</h1>
                      </div>
                      <div class="col-xs-12 col-sm-2"></div>
                      <div class="col-xs-12 col-sm-5 px-0">
                          <button type="button" class="btn btn-light job-c">
                              More Info <i class="fa fa-plus"></i>
                          </button>
                      </div>
                  </div>
  
                  <div class="row ml-1">
                      <div class="col-xs-12 col-sm-1 px-0 text-align-sm-left">
                          <h3 class="job-i">Date: </h3>
                      </div>
                      <div class="col-xs-12 col-sm-2">
                          <h3 class="job-info">{{ event.date | date:'short' }}</h3>
                      </div>
                      <div class="col-xs-12 col-sm-1 px-0">
                          <h3 class="job-i">Location: </h3>
                      </div>
                      <div class="col-xs-12 col-sm-2">
                          <h3 class="job-info">{{ event.location }}</h3>
                      </div>
                      <div class="col-xs-12 col-sm-6"></div>
                  </div>
  
                  <div class="row">
                      <div class="col-xs-12 col-sm-1 pl-3 pr-0">
                          <h3 class="job-i">Building: </h3>
                      </div>
                      <div class="col-xs-12 col-sm-10">
                          <h3 class="job-info">{{ event.building }}</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Students</a></li>
          <li><a class="text-muted" href="#">Companies</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://aws.amazon.com/rds/">AWS RDS</a></li>
          <li><a class="text-muted" href="https://aws.amazon.com/ec2/">AWS EC2</a></li>
          <li><a class="text-muted" href="https://spring.io/projects/spring-boot">Spring Boot</a></li>
          <li><a class="text-muted" href="http://hibernate.org/">Hibernate</a></li>
          <li><a class="text-muted" href="https://angular.io/">Angular</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Bootstrap</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Meet the Team</a></li>
          <li><a class="text-muted" href="https://revature.com/">Revature</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>