<div id="customNavbar"
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
  <h5 id="title" class="my-0 mr-md-auto font-weight-normal">Fair Breeze</h5>
  <nav class="links my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white homeLink" (click)="backHome()" href="#">Home</a>
    <a class="p-2 text-white" href="#">About Us</a>
    <!-- <a class="p-2 text-white" href="#">Features</a> -->
    <a class="p-2 text-white" href="https://github.com/jaytee0913/revature-project-2-server/wiki">Documentation</a>
  </nav>
  <button type="button" (click)="toLogin()" class="btn btn-light login">Log In</button>
</div>

<div class="intro-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Career Fairs Made Easy!</h1>
  <p class="lead">Fair Breeze is a career fair management system that makes it
    easier for students to view and learn about the companies attending a certain career
    fair. Companies can create profiles, add job listings and RSVP for career fairs
    hosted by Universities. Students on the other hand are able to view all job listings
    and save the job listings that they are interested in. Students are also able
    to filter the job listings making it easier to search for jobs that fit their needs.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card">
      <img src="../../../assets/pics/pic4.jpg" alt="Picture4" class="img-responsive card-img-top">
      <div class="caption card-body">Meeting up with potential employers is a breeze!</div>
    </div>

    <div class="card">
      <img src="../../../assets/pics/pic3.png" alt="Picture3" class="img-responsive card-img-top">
      <div class="caption card-body">Finding your favorite companies booth is easy with our comprehensive maps!</div>
    </div>
    <div class="card">
      <img src="../../../assets/pics/pic2.jpg" alt="Picture2" class="img-responsive card-img-top">

      <div class="caption card-body">Bring the talent of tomorrow straight to your booth!</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal card-display"><i class="fa fa-user" aria-hidden="true"></i> Students</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-0 mb-4 features">
          <li>Create a student profile</li>
          <li>View all fair job listings</li>
          <li>Favorite jobs your interested in</li>
          <li>View company profiles attending fairs</li>
          <li>All the career fair info you need in one place!</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary sign-up" (click)="toStudentSignup()">Sign
          Up For Free</button>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal card-display"><i class="fa fa-users" aria-hidden="true"></i> Companies</h4>
      </div>
      <div class="card-body">
        <!-- <h3 class="card-title pricing-card-title">Key Features:</h3> -->
        <ul class="list-unstyled mt-0 mb-4 features">
          <li>Create a company profile</li>
          <li>Add job listings</li>
          <li>RSVP for career fairs</li>
          <li>Collect student information</li>
          <li>Your profile will attract students to your booth!</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary sign-up" (click)="toCompanySignup()">Sign
          Up For Free</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Students</a></li>
          <li><a class="text-muted" href="#">Companies</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://aws.amazon.com/rds/">AWS RDS</a></li>
          <li><a class="text-muted" href="https://aws.amazon.com/ec2/">AWS EC2</a></li>
          <li><a class="text-muted" href="https://spring.io/projects/spring-boot">Spring Boot</a></li>
          <li><a class="text-muted" href="http://hibernate.org/">Hibernate</a></li>
          <li><a class="text-muted" href="https://angular.io/">Angular</a></li>
          <li><a class="text-muted" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Bootstrap</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Meet the Team</a></li>
          <li><a class="text-muted" href="https://revature.com/">Revature</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>