.delete {
    margin: 0px;
    background-color: #113a5d;;
    color: #fff;
    font-size: 12px;
    float: right;
}

.delete:hover {
    background-color: #a6ddbd;
}

h1 {
    color: #113a5d;
    font-size: 24px;
    font-weight: 150;
    width: 100%;
    text-align: left;
    padding-left: 8px;
}

.img-responsive {
    width: 775px;
    height: 550px;
}

.pw {
    color:  #113a5d;
    background-color: #e5e5e5;
    width: 20px;
}

.job-c {
    margin: 0px;
    background-color: #113a5d;
    color: #fff;
    font-size: 12px;
    float: right;
}

.add-btn {
    color: #113a5d;
}
.info {
    width: 100px;
}

.job-titles {
    color: #113a5d;
    font-size: 20px;
    font-weight: 50;
    width: 100%;
    text-align: left;
}

.job-i {
    color: #113a5d;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.fav {
    margin: 0px;
    background-color: #a6ddbd;
    color: #fff;
    font-size: 12px;
    float: right;
}

.job-info {
    color: #113a5d;
    font-size: 14px;
    font-weight: 185;
    width: 100%;
    text-align: left;
}

.event-i {
    width: 150px;
    height: 40px;
    font-size: 14px;
}

.tagName {
    height: 30px;
}

.tagBtns {
    margin: 0 3px;
    background-color: #113a5d;
    color: #fff;
    font-size: 10px;
    padding: 4px;
}

.tagBtns:hover {
    border-color: #a6ddbd;
    border-width: 2px;
}


.create {
    margin: 10px 5px;
    background-color: #113a5d;
    color: #fff;
}

.create:hover {
    background-color: #a6ddbd;
}