<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fas fa-trash-alt"></i> Delete Job Listing</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <p><strong>Are you sure you want to delete <span class="text-primary">{{ getJobTitle() }}</span> from your companies job listings?</strong></p>
          <p>All information associated to this job listing will be permanently deleted.
          <span class="text-danger">This operation can not be undone.</span>
          </p>
          <br>
        <label for="confirmDelete">Please confirm job listing deletion with your company password.</label>
        <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key pw"></i></span>
            </div>
						<input type="password" [(ngModel)]="companyPassword" name="password" class="form-control" placeholder="Enter Password">
					</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(1)">Cancel</button>
    <button type="button" class="btn btn btn-danger" (click)="modal.close(0)">Confirm</button>
  </div>
</ng-template>

<button type="button" class="btn btn-light delete" (click)="open(content)">
  Delete <i class="fas fa-trash-alt"></i>
</button>

<pre>{{closeResult}}</pre>