.delete {
    margin: 0px;
    background-color: #a50000;
    color: #fff;
    font-size: 12px;
    float: right;
}

.delete:hover {
    background-color: red;
}

.pw {
    color:  #113a5d;
    background-color: #e5e5e5;
    width: 20px;
}