<div class="container mt-4">
    <div class="card mb-4 box-shadow" *ngFor="let event of allEvents; let i = index">
        <div class="card-body px-2 pt-2 pb-1">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 px-0">
                            <h1 class="job-titles">{{ event.eventTitle }}</h1>
                        </div>
                        <div class="col-xs-12 col-sm-4"></div>
                        <div class="col-xs-12 col-sm-3 px-0">
                            <div *ngIf="event.isCollapsed==true; else elseBlock">
                                <button type="button" class="btn btn-light job-c info"
                                    (click)="event.isCollapsed = false">
                                    More Info <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <ng-template #elseBlock>
                                <button type="button" class="btn btn-light job-c info"
                                    (click)="event.isCollapsed = true">
                                    Less Info <i class="fa fa-minus"></i>
                                </button>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="col-xs-12 col-sm-1 px-0 text-align-sm-right">
                            <h3 class="job-i">Date: </h3>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                <h3 class="job-info">{{ event.date | date: 'fullDate' }}
                                    {{ event.date | date: 'shortTime' }} - {{ event.date | date: 'shortTime' }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1 px-0">
                            <h3 class="job-i">Location: </h3>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <h3 class="job-info">{{ event.location }}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-1 px-0">
                            <h3 class="job-i">Building: </h3>
                        </div>
                        <div class="col-xs-12 col-sm-2 pl-0">
                            <h3 class="job-info">{{ event.building }}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-1"></div>
                    </div>
                </div>

            </div>
            <div id="collapseExample" [ngbCollapse]="event.isCollapsed">
                <div class="card-body pt-0 pb-1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pr-0">
                            <h3 class="job-i mb-0">Description:</h3>
                        </div>
                        <div class="col-xs-12 col-sm-9 pl-0">
                            <h3 class="job-info">{{ event.description }}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-1 pl-0"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-2 pr-0">
                            <h3 class="job-i mt-3">Contact: </h3>
                        </div>
                        <div class="col-xs-12 col-sm-2 pl-0">
                            <h3 class="job-info mt-3">{{ event.contactName }}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-3 pl-0">
                            <h3 class="job-info mt-3">{{ event.contactEmail }}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-1 pl-0"></div>
                        <div class="col-xs-12 col-sm-4 pr-0">
                            <app-veiw-event-map></app-veiw-event-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>